<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Tools Kit</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to provide accurate local weather data and forecasts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is used to provide accurate local weather data and forecasts, even when the app is in the background.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to secure your mail settings and private messages.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>imap.mail.me.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
			</dict>
			<key>smtp.mail.me.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>GOOGLE_CLIENT_ID</key>
	<string>127870730797-8rnpb3le5n3j34ur7uvsfma75592nr07.apps.googleusercontent.com</string>
	<key>MICROSOFT_CLIENT_ID</key>
	<string>85e1d7da-8be9-42ae-ac6a-93acac534432</string>
	<key>YAHOO_CLIENT_ID</key>
	<string>YOUR_YAHOO_CLIENT_ID</string>
	<key>GOOGLE_OAUTH_REDIRECT_URI</key>
	<string>com.googleusercontent.apps.127870730797-8rnpb3le5n3j34ur7uvsfma75592nr07:/oauthredirect</string>
	<key>MICROSOFT_OAUTH_REDIRECT_URI</key>
	<string>com.ToolsKit.microsoft:/oauthredirect</string>
	<key>YAHOO_OAUTH_REDIRECT_URI</key>
	<string>com.ToolsKit.yahoo:/oauthredirect</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>oauth-callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.127870730797-8rnpb3le5n3j34ur7uvsfma75592nr07</string>
				<string>com.ToolsKit.microsoft</string>
				<string>com.ToolsKit.yahoo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
