<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APPWRITE_PROJECT_ID</key>
    <string>69e24c32003548ff0e2e</string>
    <key>APPWRITE_PROJECT_NAME</key>
    <string>Toolskit</string>
    <key>APPWRITE_PUBLIC_ENDPOINT</key>
    <string>https://fra.cloud.appwrite.io/v1</string>
    <key>APPWRITE_AUTH_DATABASE_ID</key>
    <string></string>
    <key>APPWRITE_AUTH_USERS_COLLECTION_ID</key>
    <string></string>
    <key>APPWRITE_USERDATA_DATABASE_ID</key>
    <string></string>
    <key>APPWRITE_USERDATA_COLLECTION_ID</key>
    <string></string>
    <key>APPWRITE_FEEDBACK_DATABASE_ID</key>
    <string>69e5a351000212788e59</string>
    <key>APPWRITE_FEEDBACK_COLLECTION_ID</key>
    <string>69e5a351000212788e59</string>
    <key>PRODUCTION_API_KEY</key>
    <string>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</string>
    <key>DAILY_API</key>
    <string>5d814fa31dd434af6efd10d004caa4338310c0a9e749cbbe2e543646708b3fae</string>
    <key>APPWRITE_MAIL_CONFIG_URL</key>
    <string></string>
    <key>APPWRITE_MAIL_CONFIG_BEARER</key>
    <string></string>
    <key>GOOGLE_CLIENT_ID</key>
    <string>127870730797-8rnpb3le5n3j34ur7uvsfma75592nr07.apps.googleusercontent.com</string>
    <key>GOOGLE_OAUTH_REDIRECT_URI</key>
    <string>com.googleusercontent.apps.127870730797-8rnpb3le5n3j34ur7uvsfma75592nr07:/oauthredirect</string>
</dict>
</plist>
