<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APPWRITE_PROJECT_ID</key>
    <string>69e24c32003548ff0e2e</string>
    <key>APPWRITE_PROJECT_NAME</key>
    <string>Toolskit</string>
    <key>APPWRITE_PUBLIC_ENDPOINT</key>
    <string>https://fra.cloud.appwrite.io/v1</string>
    <key>APPWRITE_AUTH_DATABASE_ID</key>
    <string></string>
    <key>APPWRITE_AUTH_USERS_COLLECTION_ID</key>
    <string></string>
</dict>
</plist>
